@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We are learning about Azure Web Apps and PaaS in general.</p>
</div>
<div>
    <p>It's not so difficult to seat down in the park and think about your life in Winter.</p>
</div>
